.w {
    width: 1180px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ctrip-container {
    width: 100%;
    background-color: #fff;
}

.ctrip-container .ctrip-header {
    height: 65px;
    position: relative;
    min-width: 980px;
    max-width: 1180px;
}

.ctrip-container .ctrip-header .ctrip-logo {
    position: relative;
    width: 126px;
    height: 43px;
    margin: 11px 0;
}

.ctrip-container .ctrip-header .ctrip-logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/ctrip1/c_logo2013.png") no-repeat;
    background-size: 100% 100%;
}

.ctrip-container .ctrip-header .ctrip-search {
    position: absolute;
    top: 18px;
    left: 170px;
    width: 28%;
}

.ctrip-container .ctrip-header .ctrip-search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 28px;
    padding: 0 45px 0 5px;
    border-radius: 4px;
    border: 1px solid #8ebefc;
    box-shadow: 2px 2px 1px 0 rgba(164, 203, 255, 0.25) inset;
}

.ctrip-container .ctrip-header .ctrip-search button {
    position: absolute;
    width: 42px;
    height: 28px;
    top: 1px;
    right: -51px;
    cursor: pointer;
    border: 0 none;
    background-color: #a4cbff;
    background-position: -52px -603px;
    border-radius: 0;
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
}

.ctrip-container .ctrip-header .ctrip-nav-bar {
    position: absolute;
    right: 0;
    top: 20px;
    font: 12px/20px "Microsoft yahei", tahoma, arial, sans-serif;
    color: #4c4c4c;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder {
    white-space: nowrap;
    display: inline-block;
    padding: 2px 5px 0 3px;
    height: 20px;
    border-right: 1px solid #b2b2b2;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder span {
    background-color: white;
    border-bottom: 2px solid white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder em {
    display: inline-block;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder .icon {
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
    background-position: -64px 0;
    width: 19px;
    height: 16px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder .arrow {
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
    background-position: -63px -260px;
    width: 9px;
    height: 5px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .list-heder:hover {
    background-color: fff;
    border-bottom: none;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language {
    display: inline-block;
    float: left;
    padding: 4px 0px;
    position: relative;
    z-index: 2;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language:hover {
    margin-right: -37px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language:hover .list-heder {
    background-color: #e4e7eb;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language:hover .language-list {
    display: block;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list {
    display: none;
    background: #e4e7eb;
    padding: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: -3px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul {
    width: 140px;
    background-color: white;
    margin: 0 0;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul li {
    width: 140px;
    line-height: 20px;
    height: 20px;
    padding: 4px 0;
    border-bottom: 1px dotted #e4e7eb;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul li a {
    display: block;
    height: 20px;
    padding-top: 0;
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
    padding-left: 23px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul li:hover {
    background: #f5f5f5;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_hk {
    background-position: 0 -315px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_en {
    background-position: -61px -467px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_jap {
    background-position: 0 -430px;
    color: transparent;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_korea {
    background-position: 0 -449px;
    color: transparent;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_sg {
    background-position: 0px -392px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_id {
    background-position: 0px -373px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_my {
    background-position: 0px -353px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_th {
    background-position: 0px -335px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_fr {
    background-position: -61px -503px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_de {
    background-position: -61px -485px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_es {
    background-position: -61px -520px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list ul .language_ru {
    background-position: 0 -35px;
    color: rgba(0, 0, 0, 0);
}

.ctrip-container .ctrip-header .ctrip-nav-bar .language .language-list:hover {
    display: block;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service {
    float: left;
    padding: 3px;
    text-align: center;
    position: relative;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service a {
    color: #4c4c4c;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone {
    float: left;
    text-align: right;
    padding: 3px;
    margin-left: 0px;
    position: relative;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone:hover a {
    position: relative;
    z-index: 3;
    background-color: #e4e7eb;
    border-bottom: 3px solid white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone:hover a span {
    background-color: white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone:hover ul {
    display: block;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone a {
    padding: 3px;
    color: #4c4c4c;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone a span {
    border-bottom: 3px solid white;
    padding-bottom: 2px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone a em {
    color: #06c;
    font-style: normal;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone ul {
    width: 167px;
    position: absolute;
    top: 24px;
    right: 3px;
    z-index: 2;
    padding-left: 0;
    background: #e4e7eb;
    padding: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-top: 0px;
    display: none;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone ul li {
    color: #4c4c4c;
    text-align: right;
    background-color: white;
    padding: 3px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .service_phone ul li em {
    font-style: normal;
    color: #06c;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat {
    float: left;
    margin-left: 20px;
    position: relative;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat a i {
    display: inline-block;
    width: 20px;
    height: 17px;
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat a .phone {
    background-position: 0 -56px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat a .phone:hover {
    background-position: 0 -78px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat a .weixin {
    background-position: -20px -55px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat a .weixin:hover {
    background: url("../images/ctrip1/ico_wechat.png") no-repeat 0 0;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box {
    display: none;
    position: absolute;
    top: 26px;
    right: 0;
    z-index: 2;
    width: 156px;
    height: 218px;
    text-align: center;
    background-color: white;
    background: #e4e7eb;
    padding: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box i {
    position: absolute;
    top: -6px;
    right: 31px;
    display: inline-block;
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
    width: 13px;
    height: 9px;
    background-position: 0 -271px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box div {
    padding: 10px 0;
    background-color: white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box span {
    display: block;
    margin-bottom: 15px;
    color: #3882e5;
    text-align: center;
    background-color: white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box img {
    display: block;
    margin: 0 auto;
    background-color: white;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box a {
    display: block;
    width: 100%;
    height: 38px;
    line-height: 38px;
    background-color: #f0f0f0;
    color: #4c4c4c;
    text-align: center;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .box p {
    margin: 18px 0 0;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .weinxin {
    right: 8px;
}

.ctrip-container .ctrip-header .ctrip-nav-bar .concat .weinxin div {
    padding-bottom: 22px;
}

.ctrip-nav {
    width: 100%;
    height: 40px;
    background-color: #2577E3;
}

.ctrip-nav .nav-list {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

.ctrip-nav .nav-list ul li {
    float: left;
}

.ctrip-nav .nav-list ul li:hover .second-nav {
    display: block;
}

.ctrip-nav .nav-list ul li:hover a i {
    border-bottom: 3px solid #fff;
    border-top: 0 none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.ctrip-nav .nav-list ul li:hover a span {
    display: block;
}

.ctrip-nav .nav-list ul li a {
    display: inline-block;
    padding: 10px 5px;
    color: white;
    position: relative;
}

.ctrip-nav .nav-list ul li a i {
    display: inline-block;
    vertical-align: middle;
    border-top: 3px solid #fff;
    border-bottom: 0 none;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.ctrip-nav .nav-list ul li a span {
    display: none;
    position: absolute;
    left: 27%;
    bottom: 0;
    border-bottom: 7px solid #fff;
    border-top: 0 none;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}

.ctrip-nav .nav-list ul li .none {
    display: none;
}

.ctrip-nav .nav-list ul li .border-none {
    border: none !important;
}

.ctrip-nav .nav-list ul li .second-nav {
    display: none;
    width: 1180px;
    height: 40px;
    border: 1px solid #2577e3;
    background-color: white;
    position: absolute;
    top: 40px;
    left: 0;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li {
    margin: 0 8px 0 0;
    line-height: 40px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li a {
    font-size: 12px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li i {
    display: inline-block;
    background-image: url("../images/ctrip1/un_icon_index_type20170111.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-hotel {
    background-position: -26px 0;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-car {
    width: 17px;
    background-position: -130px 0;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-train {
    background-position: -52px 0;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-outboundtravel {
    background-position: -26px -52px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-HHtravel {
    background-position: -104px -26px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-ticket {
    background-position: -26px -26px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-visa {
    background-position: 0 -52px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-insurance {
    background-position: -78px -26px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-wifi {
    background-position: -130px -26px;
}

.ctrip-nav .nav-list ul li .second-nav .line-list li .cui-icon-foreign {
    background-position: -24px -79px;
}

.ctrip-nav .nav-list ul li .second-nav h2 {
    position: relative;
    float: left;
    margin-right: 20px;
    padding: 0 5px;
    background: #74a8ed;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
}

.ctrip-nav .nav-list ul li .second-nav h2 i {
    position: absolute;
    right: -8px;
    _right: -9px;
    top: 6px;
    width: 0;
    height: 0;
    border: 4px solid #74a8ed;
    border-color: #fff #fff #fff #74a8ed;
    overflow: hidden;
}

.ctrip-nav .nav-list ul li .second-nav .head-index {
    color: #2577e3;
}

.ctrip-nav .nav-list ul li .second-nav li {
    margin: 0 8px;
    line-height: 40px;
}

.ctrip-nav .nav-list ul li .second-nav li a {
    color: #333;
    font-size: 14px;
    padding: 0;
}

.ctrip-nav .nav-list ul li .second-nav li a .label-en {
    border: none;
    position: absolute;
    z-index: 9;
    right: -9px;
    top: -6px;
    display: inline-block;
    padding: 0 2px;
    height: 15px;
    line-height: 15px;
    background-color: #ff9913;
    color: #fff;
}

.ctrip-nav .nav-list ul li .second-nav li a .label-en em {
    font-size: 12px;
    vertical-align: 2px;
    transform: scale(0.75);
}

.ctrip-nav .nav-list ul li .second-nav li a .label-en .triangle {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #da620a transparent transparent #da620a;
}

.ctrip-nav .nav-list ul li .second-nav li:hover a {
    color: #2577e3;
}

.ctrip-nav .nav-list ul li .second-nav .divider {
    width: 1px;
    height: 14px;
    padding-left: 0;
    margin: 13px 0 0;
    background-color: #ccc;
    clear: none;
    border: none;
}

.ctrip-nav .nav-list ul li .second-nav .last-dingdan {
    float: right;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 40px;
    font-size: 12px;
    color: #333;
}

.ctrip-nav .nav-list ul li .second-nav .last-dingdan i {
    display: inline-block;
    background-image: url("../images/ctrip1/un_icon_index_type20170111.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -1px;
}

.ctrip-nav .nav-list ul li .second-nav .second-last-dingdan i {
    background-position: -26px 0;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-vacations {
    background-position: 0 -26px;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-train {
    background-position: -52px 0;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-bus {
    background-position: -78px 0;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-car {
    width: 17px;
    background-position: -130px 0;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-ticket {
    background-position: -26px -26px;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-tuan {
    background-position: -130px -52px;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-foreign {
    background-position: -24px -79px;
}

.ctrip-nav .nav-list ul li .second-nav .cui-icon-card {
    background-position: -78px -52px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_trains {
    padding-left: 120px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_trains .label-cn {
    position: absolute;
    z-index: 9;
    right: 0px;
    top: -6px;
    display: inline-block;
    padding: 0 2px;
    height: 15px;
    line-height: 15px;
    background-color: #ff9913;
    color: #fff;
    border: none;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_trains .label-cn .triangle {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 0;
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #da620a transparent transparent #da620a;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_destination {
    padding-left: 255px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_car {
    padding-left: 230px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_ticket {
    padding-left: 346px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_tuan {
    padding-left: 390px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_g {
    padding-left: 455px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_lpk {
    padding-left: 480px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_sl {
    padding-left: 617px;
}

.ctrip-nav .nav-list ul li .second-nav #ul_nav_more {
    padding-left: 730px;
}

.ctrip-nav .nav-list ul .fengexian {
    width: 1px;
    height: 14px;
    padding-left: 0;
    margin: 13px 0 0;
    background-color: #1d67dd;
    border: none;
}

.ctrip-nav .nav-list .index-zhuce {
    float: right;
    width: 128px;
    height: 40px;
    padding: 0 5px 0 27px;
    background: #ff9913 url("../images/ctrip1/un_header_footer20160610.png") no-repeat -59px -179px;
    color: #fff;
    position: relative;
}

.ctrip-nav .nav-list .index-zhuce span {
    display: inline-block;
    width: 1px;
    height: 16px;
    background-color: white;
    vertical-align: middle;
}

.ctrip-nav .nav-list .index-zhuce a {
    color: white;
    font-size: 12px;
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng {
    margin-top: -3px;
    margin-left: -18px;
    position: relative;
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng a {
    font-size: 14px;
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng span {
    display: inline-block;
    width: 9px;
    height: 5px;
    background-position: -43px -264px;
    background-image: url("../images/ctrip1/un_header_footer20160610.png");
    background-repeat: no-repeat;
    background-color: transparent;
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng:hover span {
    background-position: -43px -259px;
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng .button-sign-in {
    display: none;
    width: 139px;
    position: absolute;
    top: 22px;
    left: -9px;
    z-index: 1;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng .button-sign-in button {
    width: 100%;
    height: 35px;
    border: 1px solid #d5790a;
    cursor: pointer;
    vertical-align: middle;
    background-color: #ffba14;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.ctrip-nav .nav-list .index-zhuce .wodexiecheng .button-sign-in a {
    display: block;
    color: #06c;
    font-size: 12px;
    padding: 5px 0 0 2px;
}

.ctrip-nav .nav-list .index-zhuce:hover .button-sign-in {
    display: block;
}

.disblock {
    display: block !important;
}