* {
  box-sizing: border-box;
  font-family: "微软雅黑";
  padding: 0;
  margin: 0;
}
.box-center {
  margin: 0 auto;
}
.box-text-m {
  display: table-cell;
  vertical-align: middle;
}
.clear-b {
  clear: both;
}
.display-n {
  display: none;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
h4,
.h4 {
  font-size: 18px;
}
.of {
  overflow: hidden;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bx {
  width: 1200px;
  padding: 10px;
}
body {
  font-size: 14px;
}
main {
  position: relative;
}
main .index-side {
  display: inline-block;
  width: 380px;
  margin-right: 20px;
  height: 43px;
}
main .index-side .search-top .title {
  font: normal 18px/42px "Microsoft Yahei";
  border-bottom: 0 none;
  border-radius: 5px 5px 0 0;
  background-color: #3983E5;
  color: #fff;
}
main .index-side .search-top .title i {
  float: left;
  width: 18px;
  height: 13px;
  margin: 13px 10px 0 10px;
  overflow: hidden;
  background: url(../images/hotels/un_index17.png) no-repeat -48px -108px;
}
main .index-side .search-top .search-box {
  position: relative;
  height: 347px;
  margin-bottom: 20px;
  padding-top: 6px;
  border: 5px solid #2F79DB;
  border-top: 0 none;
  border-radius: 6px;
  background-color: #FFF;
}
main .index-side .search-top .search-box .tabs_choose {
  padding: 0px 0 5px;
  text-align: center;
  background-color: #f5f5f5;
}
main .index-side .search-top .search-box .tabs_choose label {
  margin: 0 10px;
}
main .index-side .search-top .search-box .tabs_choose label .label-en {
  position: absolute;
  top: -15px;
  right: -10px;
}
main .index-side .search-top .search-box .tabs_choose label .label-en em {
  display: inline-block;
  font-size: 9px;
  font-family: 'Tahoma', arial;
  font-style: normal;
  margin: 0;
  padding: 0 2px;
  vertical-align: top;
  background-color: #FF9913;
  color: white;
}
main .index-side .search-top .search-box .tabs_choose label .label-en i {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-color: #da620a transparent transparent #da620a;
}
main .index-side .search-top .search-box .content {
  padding: 5px 0;
}
main .index-side .search-top .search-box .content ul {
  list-style: none;
}
main .index-side .search-top .search-box .content ul li {
  height: 42px;
  padding: 6px 40px 0 0;
  text-align: right;
}
main .index-side .search-top .search-box .content ul li span {
  padding-right: 10px;
  font-size: 12px;
  color: #666;
}
main .index-side .search-top .search-box .content ul li input {
  height: 30px;
  width: 230px;
}
main .index-side .search-top .search-box .content ul li.sel {
  padding: 10px 40px 0 0;
}
main .index-side .search-top .search-box .content ul li.sel select {
  width: 230px;
}
main .index-side .search-top .search-box .content ul li.subm input {
  box-sizing: content-box;
  margin: 10px 0;
  background-color: #FFB000;
  height: 32px;
  font-size: 18px;
  color: white;
}
main .index-side .serv a {
  display: block;
  border: 4px solid #ffd18e;
  height: 196px;
  margin-bottom: 20px;
  border-radius: 3px;
}
main .index-side .edition {
  background-color: #F2F2F2;
  padding: 14px;
}
main .index-side .edition h4 {
  padding: 6px 0 15px;
}
main .index-side .edition .content .img {
  padding: 0 15px 10px 0;
}
main .index-side .edition .content .img img {
  width: 137px;
  height: 93px;
  border-radius: 8px;
}
main .index-side .edition .content .intr {
  width: 192px;
}
main .index-side .edition .content .intr h5 {
  font-size: 18px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 0 3px;
}
main .index-side .edition .content .intr div {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 15px;
}
main .index-side .edition .content .intr p {
  font-size: 12px;
  color: #b2b2b2;
}
main .index-side .edition .content .full-btn {
  display: block;
  width: 100%;
  padding: 7px 0;
  border: 1px solid #88b6e3;
  color: #0066cc;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: 'microsoft yahei', simsun, sans-serif;
  border-radius: 3px;
}
main .index-side .edition .content .full-btn:hover {
  background-color: #0066cc;
  color: white;
  text-decoration: none;
}
main .index-side .edition .content .full-btn i {
  display: inline-block;
  width: 10px;
  height: 18px;
  margin-left: 19px;
  vertical-align: -3px;
  background: url(../images/hotels/un_index17.png) no-repeat -120px -320px;
}
main .index-side .box {
  margin: 10px 0;
  border: 5px solid #FFD33A;
}
main .index-side h2 {
  height: 34px;
  margin-bottom: 3px;
  font: normal 22px/34px "Microsoft Yahei";
}
main .index-side h2 span {
  position: absolute;
  width: 45px;
  height: 28px;
  margin: -5px 0 0 4px;
  background: url(../images/hotels/un_index17.png) no-repeat -70px -108px;
}
main .index-side .box1 {
  border: 1px solid#fff;
  margin-bottom: 15px;
}
main .index-side .box1:hover {
  border: 1px solid #FFD33A;
}
main .index-side .box2 {
  margin-bottom: 15px;
  border: 1px solid #fff;
}
main .index-side .box3 {
  border: 1px solid #fff;
  margin-bottom: 20px;
}
main .index-side .box2:hover {
  border: 1px solid #FFD33A;
}
main .index-side .box3:hover {
  border: 1px solid blue;
}
main .index-main {
  width: 780px;
  display: inline-block;
}
main .index-main .slider-top {
  position: relative;
  margin-bottom: 10px;
  height: 240px;
}
main .index-main .slider-top p {
  position: absolute;
  padding: 0 5px;
  bottom: 5px;
  width: 100%;
  z-index: 5;
}
main .index-main .slider-top p span {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #0AB0E8;
  box-sizing: content-box;
  margin: 5px;
}
main .index-main .slider-top p span:hover,
main .index-main .slider-top p span.current {
  background-color: #F8CD47;
}
main .index-main .content1 .title {
  border-bottom: 1px solid #0066cc;
}
main .index-main .content1 .title span {
  height: 34px;
  margin-bottom: 3px;
  font: normal 22px/34px "Microsoft Yahei";
}
main .index-main .content1 .title a {
  display: inline-block;
  padding: 2px 9px;
  color: #333;
  text-decoration: none;
  position: relative;
}
main .index-main .content1 .title a i {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -4px;
  border-width: 4px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #5599DD transparent;
  overflow: hidden;
}
main .index-main .content1 .title a b {
  width: 0;
  height: 0;
  margin: 8px 0 0 4px;
  border-width: 4px;
  border-style: solid dashed dashed dashed;
  border-color: #06C transparent transparent transparent;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
main .index-main .content1 .title a.last {
  font-size: 12px;
  color: #06C;
  float: right;
  margin: 10px 0 0 0;
}
main .index-main .content1 .title a:hover {
  background-color: #0066cc;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
main .index-main .content1 .content {
  position: relative;
}
main .index-main .content1 .content dl {
  display: inline-block;
  overflow: hidden;
}
main .index-main .content1 .content dl dt {
  float: left;
  width: 70px;
  height: 102px;
  padding: 6px;
  border: 1px solid #ccc;
}
main .index-main .content1 .content dl dt a {
  position: relative;
  text-decoration: none;
  color: #333;
}
main .index-main .content1 .content dl dt a:hover,
main .index-main .content1 .content dl dt a.current {
  color: blue;
}
main .index-main .content1 .content dl dt a span {
  display: block;
  width: 20px;
  height: 20px;
  margin: 28px auto 6px;
  background: url(../images/hotels/un_index17.png) no-repeat -18px -45px;
}
main .index-main .content1 .content dl dt a i {
  position: absolute;
  width: 58px;
  border: 2px solid #5599DD;
  top: -7px;
}
main .index-main .content1 .content dl dd {
  float: left;
  width: 91px;
  height: 102px;
}
main .index-main .content1 .content dl dd a {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 102px;
  padding-top: 78px;
  background: url(../images/hotels/un_index17.png) no-repeat 23px 60px;
  color: #666;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .index-main .content1 .content dl dd a:hover {
  position: relative;
  background-position: -77px 60px;
  background-color: #F2F2F2;
  text-decoration: none;
  color: #0066CC;
}
main .index-main .content1 .content dl.right {
  position: absolute;
  top: 0;
  left: 708px;
}
main .index-main .content1 .content dl.right a span {
  background: url(../images/hotels/un_index17.png) no-repeat -19px -135px;
}
main .index-main .content1 .content .slider-middle {
  padding: 20px 0 0 0;
  height: 182px;
  position: relative;
}
main .index-main .content1 .content .slider-middle p {
  width: 120px;
  position: absolute;
  top: 20px;
  right: 0;
}
main .index-main .content1 .content .slider-middle p a {
  display: block;
  font-size: 12px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
main .index-main .content1 .content .slider-middle p a:hover {
  background-color: #2577E3;
}
main .index-main .hot {
  padding: 50px 0 0;
}
main .index-main .hot .title {
  position: relative;
  border-bottom: 1px solid #0066cc;
}
main .index-main .hot .title span {
  height: 50px;
  font-size: 28px;
  color: #5599dd;
}
main .index-main .hot .title a {
  display: inline-block;
  padding: 2px 9px;
  color: #333;
  text-decoration: none;
  position: relative;
}
main .index-main .hot .title a i {
  display: block;
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -4px;
  border-width: 4px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #5599DD transparent;
  overflow: hidden;
}
main .index-main .hot .title a b {
  width: 0;
  height: 0;
  margin: 8px 0 0 4px;
  border-width: 4px;
  border-style: solid dashed dashed dashed;
  border-color: #06C transparent transparent transparent;
  vertical-align: middle;
  position: relative;
  top: 10px;
}
main .index-main .hot .title a.last {
  font-size: 12px;
  color: #06C;
  float: right;
  margin: 10px 0 0 0;
}
main .index-main .hot .title a:hover {
  background-color: #0066cc;
  color: #FFF;
  cursor: pointer;
  text-decoration: none;
}
main .index-main .hot .title .icon {
  background: url(../images/hotels/un_index17.png) no-repeat 0 -164px;
  position: absolute;
  top: -8px;
  right: 10px;
  width: 189px;
  height: 44px;
}
main .index-main .hot ul {
  padding: 10px 0;
  list-style: none;
}
main .index-main .hot ul li {
  overflow: hidden;
  padding: 10px 0;
}
main .index-main .hot ul li:hover {
  background-color: #B5E2BB;
}
main .index-main .hot ul li .img {
  float: left;
  padding: 0 10px 0 0;
}
main .index-main .hot ul li .intr {
  float: left;
}
main .index-main .hot ul li .intr h4 {
  color: #0066CC;
  font-size: 16px;
}
main .index-main .hot ul li .intr h4 span:nth-child(1) {
  box-sizing: content-box;
  margin-right: 10px;
  position: relative;
  top: 3px;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../images/hotels/un_index17.png) no-repeat -144px -82px;
}
main .index-main .hot ul li .intr h4 span:nth-child(2) {
  box-sizing: content-box;
  margin-left: 10px;
  position: relative;
  top: 12px;
  display: inline-block;
  width: 32px;
  height: 22px;
  background: url(../images/hotels/un_index17.png) no-repeat -48px -62px;
}
main .index-main .hot ul li .intr p {
  padding: 10px 0;
  line-height: 24px;
  font-size: 12px;
}
main .index-main .hot ul li .intr p a {
  padding-right: 10px;
  color: #333;
}
main .index-main .hot ul li .intr .weak {
  color: #aaa;
}
main .index-main .hot ul li .price {
  color: #FF6600;
}
main .index-main .hot ul li .price dfn {
  color: #333;
  font: 12px Arial;
  vertical-align: 8px;
}
main .index-main .hot ul li .price b {
  font-size: 24px;
}
main .index-main .integer .title span {
  font: normal 22px/34px "Microsoft Yahei";
}
main .index-main .integer .title a {
  float: right;
  position: relative;
  top: 12px;
  text-decoration: none;
}
main .index-main .integer .content {
  position: relative;
  border: 1px solid #ccc;
}
main .index-main .integer .content .pre {
  position: absolute;
  width: 24px;
  height: 92px;
  background-color: #f4f4f4;
}
main .index-main .integer .content .pre span {
  position: absolute;
  top: 50%;
  border-width: 8px;
  border-color: transparent #aaa transparent transparent;
  border-style: solid;
}
main .index-main .integer .content .after {
  right: 0px;
  position: absolute;
  width: 24px;
  height: 92px;
  background-color: #f4f4f4;
}
main .index-main .integer .content .after span {
  border-color: transparent transparent transparent #aaa;
  left: 8px;
  position: absolute;
  top: 50%;
  border-width: 8px;
  border-style: solid;
}
main .index-main .integer .content .slider-bottom {
  white-space: nowrap;
  padding: 2px 24px;
  height: 92px;
}
main .index-main .integer .content .slider-bottom a {
  box-sizing: content-box;
  white-space: pre-wrap;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #333;
  width: 80px;
  height: 86px;
  margin: 0 10px;
  background-color: #fff;
  border: 2px solid #fff;
}
main .index-main .integer .content .slider-bottom a img {
  width: 80px;
  height: 50px;
}
main .index-main .integer .content .slider-bottom a:hover {
  border: 2px solid yellow;
}
main .pic-list {
  padding: 20px  0 30px;
}
main .pic-list .first {
  padding-right: 15px;
}
main .sort {
  padding: 15px 15px 10px;
  border: 2px solid #aaa;
  color: #333;
}
main .sort h5 {
  font-size: 12px;
}
main .sort p {
  font-size: 12px;
  line-height: 1.5;
  color: #999;
  padding-bottom: 10px;
}
main .sort p a {
  color: inherit;
  text-decoration: none;
}
main .sort dl dd {
  position: relative;
  line-height: 32px;
  border-top: 1px dashed #ccc;
}
main .sort dl dd a {
  display: inline-block;
  width: 84px;
  color: #aaa;
  text-decoration: none;
}
main .sort dl dd a.first {
  font-weight: bold;
  color: #333;
}
main .sort dl dd .context {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  white-space: nowrap;
  padding: 0 0 0 88px;
}
main .sort dl dd .context a {
  display: inline-block;
  width: 265px;
}
footer {
  padding: 50px 0;
}
footer p {
  text-align: center;
  font-size: 10px;
  line-height: 1.5;
  padding-bottom: 10px;
}
footer p a {
  text-decoration: none;
  color: #666;
}
footer p a i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  vertical-align: middle;
  background: url(../images/hotels/hotels53.png) no-repeat 0 -235px;
}
footer p span {
  padding: 0 2px;
}
footer div {
  text-align: center;
  height: 32px;
}
footer div a {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  padding-left: 35px;
  text-decoration: none;
  color: #666;
  width: 60px;
  height: 32px;
  font: 12px/32px Simsun;
  border: 1px solid #ccc;
}
footer div a:nth-child(1) {
  top: -15px;
  background: url(../images/hotels/hotels53.png) no-repeat -88px -50px;
}
footer div a:nth-child(2) {
  top: -12px;
  background: url(../images/hotels/hotels53.png) no-repeat -88px -85px;
}
footer div a:nth-child(3) {
  background: url(../images/hotels/hotels53.png) no-repeat 0 -50px;
}
footer div a:nth-child(4) {
  background: url(../images/hotels/hotels53.png) no-repeat -88px -118px;
  line-height: 1.1;
  top: -7px;
}
footer div a:nth-child(5) {
  background: url(../images/hotels/hotels53.png) no-repeat 0 -387px;
}
footer div a:nth-child(6) {
  background: url(../images/hotels/hotels53.png) no-repeat 0 -118px;
}
footer div a:nth-child(7) {
  background: url(../images/hotels/hotels53.png) no-repeat 0 -193px;
}
