.fl {
  float: left;
}
.trains-tuijian {
  width: 1180px;
  margin: 0 auto;
  height: 360px;
  margin-top: 60px;
  margin-bottom: 50px;
}
.trains-tuijian .tricket-tab {
  width: 320px;
  height: 360px;
  float: left;
}
.trains-tuijian .tricket-tab .piao-tab {
  height: 45px;
}
.trains-tuijian .tricket-tab .piao-tab li {
  float: left;
  width: 160px;
  font-size: 14px;
  color: #fff;
  background-color: #74a3e7;
  height: 45px;
  line-height: 45px;
  margin-top: -2px;
  border-radius: 4px 4px 0 0;
  vertical-align: middle;
  text-align: center;
}
.trains-tuijian .tricket-tab .piao-tab li:hover {
  margin-top: -2px;
  background: #3480e2;
}
.trains-tuijian .tricket-tab .tricket-list {
  height: 265px;
  border: 5px solid #3480e2;
  margin-top: -2px;
  padding: 20px;
  position: relative;
}
.trains-tuijian .tricket-tab .tricket-list ul {
  height: 20px;
}
.trains-tuijian .tricket-tab .tricket-list li:first-child {
  border: none;
}
.trains-tuijian .tricket-tab .tricket-list li {
  width: 33.33%;
  float: left;
  border-left: 1px solid #ebebeb;
  margin-left: -1px;
  text-align: center;
  cursor: pointer;
}
.trains-tuijian .tricket-tab .tricket-list li:hover {
  color: #3480e2;
}
.trains-tuijian .tricket-tab .tricket-list .search-form {
  position: relative;
}
.trains-tuijian .tricket-tab .tricket-list .search-form input {
  padding: 5px 8px;
  border: solid 1px #e0e0e0;
  font-size: 14px;
  width: 220px;
  position: relative;
  height: 20px;
  color: #ccc;
  margin-top: 20px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .change {
  display: block;
  width: 30px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  left: 238px;
  top: 40px;
  background: url("../images/trains/un_index.png") no-repeat;
  background-position: -15px -175px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .change:hover {
  background-position: -65px -175px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .checkbox {
  position: relative;
  margin-bottom: 20px;
  font-size: 14px;
  cursor: default;
  margin-top: 15px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .checkbox i {
  width: 20px;
  height: 20px;
  float: right;
  background: url("../images/trains/un_index.png");
  background-position: -160px -215px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .checkbox .i-pos {
  background-position: -190px -215px;
}
.trains-tuijian .tricket-tab .tricket-list .search-form .searchbtn {
  width: 100%;
  height: 35px;
  border: 0;
  background: #ffab00;
  font-size: 16px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0;
}
.trains-tuijian .slide {
  width: 840px;
  height: 360px;
  float: right;
  overflow: hidden;
  position: relative;
}
.trains-tuijian .slide .img-list li:first-child {
  display: block;
}
.trains-tuijian .slide .img-list li {
  display: none;
}
.trains-tuijian .slide .dot {
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.trains-tuijian .slide .dot li {
  display: inline-block;
  overflow: hidden;
  width: 11px;
  height: 11px;
  margin-right: 8px;
  border: 2px solid #fff;
  border-radius: 11px 11px 11px 11px;
  cursor: pointer;
  list-style: none;
  background-color: #0ab0e8;
}
.trains-tuijian .slide .dot li:hover {
  background-color: #f8cd47;
}
